/*
#1d1e1f
*/

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  background-color: #1d1e1f;
}


h2 {
  
}

h3 {
  font-weight: 300;
}

p {
  line-height: 1.5;
  color: white;
  font-weight: 300;
}

/* NavBar                                 DONE */

nav {
  height: 72px;
  background-color: #1d1e1f;
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  z-index: 100;
  align-items: center;

}

nav a {
  padding: 0 80px;
  color: white;
  transition: 0.4s;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: lightblue;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

#menu-icon {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 24px;
  padding: 0 4px;
  color: lightblue;
  display: none;
  align-items: center;
  margin: 0%;
  width: 0%;
}

.slidout-menu {
  display: none;
}

/* Banner                 DONE */

#dummy-code {
  position: absolute;
  height: auto;
  width: 720px;
  opacity: 50%;
  left: 550px;
  top: 250px;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 80px;
  width: 100%;
  
}

.banner img {
  padding-left: 40px;
  width: auto;
  height: 500px;
}

.banner-text {
  display: block;
  text-align: center;
  position: static;
  z-index: 2;
}

h1 {
  font-family: "Poppins", "sans-serif";
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  color: white;
  padding-top: 80px;
}

.banner h2 {
  font-family: "Poppins", "sans-serif";
  color: white;
  font-size: 1.65rem;
}

/* Portfolio projects */

.portfolio-projects {
  display: grid;
  background-color: white;
  width: 100%;
  height: 400px;
  padding-top: 40px;
}

.portfolio-projects h2 {
  margin-left: 50px;
}

.portfolio-projects p {
  color: black;
  width: 30%;
  line-height: 2;
  margin-top: 20px;
  margin-left: 50px
}

/* Footer & Contact */

footer {
  width: 100%;
}

.contact-info {
  display: inline-block;
}

/* Back to top button                DONE */

.back-to-top {
  background-color: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: black;
  text-decoration: none;
  opacity: 0;
  pointer-events: 0;
  transition: all 0.3s;
}

.back-to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
